/* Debut et fin */

#start {
	height: 4vw;
}

#end {
	height: 8vw;
}

/* Menu */
.menu {
	display: flex;
	flex-direction: column;
	padding: 10px;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: calc(90px + 4vw);
	right: 20px;
	z-index: 150;
	list-style: none;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 1px black;
	border-radius: 10px;
}


.menu li a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	box-shadow: 0px 1px 1px black;
	background-color: #215EB5;
	color: #FFFFFF;
	font-family: 'Dosis';
	font-weight: bold;
	text-decoration: none;
	border-radius: 10px;
	cursor: pointer;
	width: 150px;
	height: 40px;
	font-size: 20px;
}

/* Blog */

#formecran {
	position: relative;
	z-index: 75;
}

#formtelephone {
	display: none;
}

#fenetre {
	background-image: url("Images_sites/tokyo.jpg");
	background-attachment: fixed;
	position: relative;
	background-position: center;
	z-index: 75;
	background-size: 200%;
}

  