/* Typo */

h1 {
	color: #36339E;
	font-family: 'Dosis';
	font-weight: bold;
}

h2 {
	color: #6931B5;
	font-family: 'Dosis';
	font-weight: bold;
}

h3 {
	color: #6931B5;
	font-family: 'Dosis';
	font-weight: bold;
}

h4 {
	color: #6931B5;
	font-family: 'Dosis';
}

p {
	font-family: 'Open Sans';
}

i {
	color: #215EB5;
	font-size: 50px;
}

/* Menu */
input[type="checkbox"]+label:before {
	font-family: FontAwesome;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	padding: 20px;
	border-radius: 100px;
	width: 70px;
	height: 70px;
	position: fixed;
	top: 4.5vw;
	right: 20px;
	color: white;
	border: none;
	color: #FFFFFF;
	box-shadow: 0px 1px 1px black;
	cursor: pointer;
	background-color: #215EB5;
	z-index: 150;
}



input[type="checkbox"]:not(:checked)+label:before {
	content: "\f0c9";
}

input[type="checkbox"]:checked+label:before {
	content: "\f00d";
}

input[type="checkbox"]:not(:checked)~ul {
	display: none;
}

#burger_checkbox {
	display: none;
}

.menu li a:hover {
	animation: shadow-pop-bl3 0.3s ease-in both;
	color:#FFFFFF;
	background-color: #215EB5;
}

	@keyframes shadow-pop-bl3 {
		0% {
			box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
			transform: translateX(0) translateY(0);
		}
		100% {
			box-shadow: 0px 1px #102f5a, 0px 2px #102f5a, 0px 3px #102f5a, 0px 4px #102f5a;
			transform: translateX(0px) translateY(-4px);
		}
	}

.menu li {
	list-style-type: none;
}

/* Bread */

#breadfont {
	font-family: 'Open Sans';
}

#breadfont a {
	text-decoration: none;
	color: #6931B5;
}

/* fond */

#topwhite {
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	position: relative;
	z-index: 100;
}

.roundb {
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
	position: relative;
	z-index: 100;
}

/* Debut */

#title1 {
	color: #36339E;
	font-family: 'Dosis';
	text-align: center;
	font-size: calc(55px + 1vw);
	font-weight: 100;
}

#title2 {
	color: #6931B5;
	font-family: 'Dosis';
	font-size: calc(41px + 1vw);
	text-align: center;
	font-weight: 100;
}

#title3 {
	font-family: 'Open Sans';
	text-align: center;
	font-size: calc(35px + 0.5vw);
	color: black;
	font-weight: normal;
}

#title4 {
	font-family: 'Open Sans';
	text-align: center;
	font-size: calc(30px + 0.5vw);
	color: black;
	font-weight: normal;
}

/* Boutons */

.btn-primary {
	background-color: #932EAB;
}

.btn-primary:hover {
	animation: shadow-pop-bl1 0.3s ease-in both;
	background-color: #932EAB;
}


@keyframes shadow-pop-bl1 {
	0% {
		box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
		transform: translateX(0) translateY(0);
	}
	100% {
		box-shadow: 0px 1px #491655, 0px 2px #491655, 0px 3px #491655, 0px 4px #491655;
		transform: translateX(0px) translateY(-4px);
	}
}


.btn-secondary {
	background-color: #287D9F;
}

.btn-secondary:hover {
	background-color: #287D9F;
	animation: shadow-pop-bl2 0.3s ease-in both;
}

@keyframes shadow-pop-bl2 {
	0% {
		box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
		transform: translateX(0) translateY(0);
	}
	100% {
		box-shadow: 0px 1px #143e4f, 0px 2px #143e4f, 0px 3px #143e4f, 0px 4px #143e4f;
		transform: translateX(0px) translateY(-4px);
	}
}

.btn-primary, .btn-secondary {
	border: none;
	color: #FFFFFF;
	font-family: 'Open Sans';
	font-weight: bold;
	align-content: center;
	width: calc(150px + 1vw);
	border-radius: 15px;
	box-shadow: 0px 1px 1px black;
}

/* Competence */

#competence {
	position: relative;
	z-index: 90;
	box-shadow: 0px 5px 5px 0px #000000;
}

/* Reference */

#textefenetre {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Blog */

#blog {
	position: relative;
	z-index: 75;
}

/* Footer */

#footer {
	position: relative;
	z-index: 75;
}

#footer {
	color: #FFFFFF;
	font-family: 'Open Sans';
	font-weight: bold;
	position: fixed;
	z-index: 1;
	bottom: 20px;
	width: 100%;
}

#footer a {
	text-decoration: none;
	color: #FFFFFF;
}

.shadowbox {
	filter: drop-shadow(0px 5px 5px #000000);
}

.accordion-button:focus {
	background-color: #215EB5;
	color: white;
}

.accordion-button:not(.collapsed) {
	background-color: #215EB5;
	color: white;
	box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23E8E8E8'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:focus::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23E8E8E8'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#cookie-banner {
	background-color: #932EAB;
	color: white;
	z-index: 500;
	position: fixed;
	bottom: 0px;
}

.blogbutton
{
	border-radius: 50px;
	top : 150px;
	width: 70px;
	height: 70px;
	color: #FFFFFF;
	background-color: #215EB5;
	z-index: 125;
}

