/* Typo */

h1 {
	color: #36339E;
	font-family: 'Dosis';
	font-weight: bold;
}

h2 {
	color: #6931B5;
	font-family: 'Dosis';
	font-weight: bold;
}

h3 {
	color: #6931B5;
	font-family: 'Dosis';
	font-weight: bold;
}

h4 {
	color: #6931B5;
	font-family: 'Dosis';
}

p {
	font-family: 'Open Sans';
}

i {
	color: #215EB5;
	font-size: 50px;
}

/* fond */

#topwhite {
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	position: relative;
	z-index: 100;
}

#botwhite {
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
	position: relative;
	z-index: 100;
}

/* Debut */

#title1 {
	color: #36339E;
	font-family: 'Dosis';
	text-align: center;
	font-size: calc(55px + 1vw);
	font-weight: 100;
}

#title2 {
	color: #6931B5;
	font-family: 'Dosis';
	font-size: calc(33px + 1vw);
	text-align: center;
	font-weight: 100;
}

#title3 {
	font-family: 'Open Sans';
	text-align: center;
	font-size: calc(21px + 1vw);
}

.moveright {
	-webkit-animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

.moveleft {
	-webkit-animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

/* Boutons */

.btn-primary {
	background-color: #932EAB;
}

.btn-primary:hover {
	background-color: #a958bc;
}

.btn-secondary {
	background-color: #287D9F;
}

.btn-secondary:hover {
	background-color: #5397b2;
}

.btn-primary, .btn-secondary {
	border: none;
	color: #FFFFFF;
	font-family: 'Open Sans';
	font-weight: bold;
	align-content: center;
	width: calc(150px + 1vw);
	border-radius: 15px;
	box-shadow: 0px 1px 1px black;
}

/* Competence */

#competence {
	position: relative;
	z-index: 90;
	-webkit-box-shadow: 0px 5px 5px 0px #000000;
-moz-box-shadow: 0px 5px 5px 0px #000000;
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=5, Color='#000000', Positive='true');
zoom:1;
box-shadow: 0px 5px 5px 0px #000000;
}

/* Reference */

#fenetre {
	background-image: url("Images_sites/Tokyoecran.jpg");
	background-attachment: fixed;
	background-position: top 200px;
	position: relative;
	z-index: 75;
}

#textefenetre {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Blog */

#blog {
	position: relative;
	z-index: 75;
}

/* Footer */

#footer {
	position: relative;
	z-index: 75;
}

#footer {
	color: #FFFFFF;
	font-family: 'Open Sans';
	font-weight: bold;
	position: fixed;
	z-index: 1;
	bottom: 20px;
	width: 100%;
}

#footer a {
	text-decoration: none;
	color: #FFFFFF;
}

.shadowbox
{
	-webkit-filter: drop-shadow(0px 5px 5px #000000 );
	filter: drop-shadow(0px 5px 5px #000000);
}