
/* typo */

h1
{
    color: #36339E;
    font-family: 'Dosis';
    text-align: justify;
}

h2
{
    color: #6931B5;
    font-family: 'Dosis';
    text-align: center;
}
h3
{
    color: #6931B5;
    font-family: 'Dosis';
    text-align: justify;
}

p
{
    color: black;
    font-family: 'Open Sans';
    text-align: justify;
}

/* 1ere section */

.soustitre
{
    color: black;
    font-family: 'Open Sans';
    text-align: justify;
}

.presentation
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.button
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.debut
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-right: calc(5px + 3vw);
	margin-left: calc(5px + 3vw);
}

.imagedebut
{
	align-items: center;
	margin-top: calc(50px + 3vw);
	margin-right: calc(5px + 3vw);
	margin-left: calc(5px + 3vw);
}

.psection
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-left: calc(5px + 2vw);
	margin-right: calc(5px + 2vw);
}

/* Boutons */

.bouton1
{
	background-color: #932EAB;
}

.bouton1:hover
{
	opacity: 0.75;
}

.bouton2
{
	background-color: #287D9F;
}

.bouton2:hover
{
	opacity: 0.75;
}

.bouton1, .bouton2
{
	border: none;
	border-radius: 20vw;
	color: #FFFFFF;
	font-family: 'Open Sans';
	font-weight: bold;
	text-align: center;
	margin-left: 1vw;
	margin-right: 1vw;
	cursor: pointer;
}

/* 2e section */

.troiscentsoixante
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.projets
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.strategie
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.competence
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: calc(60px + 3vw);
	padding-left: calc(60px + 3vw);
}

.deuxsection
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 5vw;
}

/* fond */

.blanchaut
{
	background-color: white;
	border-top-right-radius: 5vw;
	border-top-left-radius: 5vw;
	position: relative;
  	z-index: 100;

}


.bleu
{
	background-color: #215EB5;

}

.fondbleu
{
	background-color: #215EB5;

}