/* Debut et fin */

#start {
	height: 4vw;
}

#end {
	height: 120px;
}

/* Menu */

input[type="checkbox"]+label:before {
	font-family: FontAwesome;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	padding: 20px;
	border-radius: 100px;
	width: 70px;
	height: 70px;
	position: fixed;
	top: 4.5vw;
	right: 20px;
	color: white;
	border: none;
	color: #FFFFFF;
	box-shadow: 0px 1px 1px black;
	cursor: pointer;
	background-color: #215EB5;
	z-index: 150;
}

input[type="checkbox"]:not(:checked)+label:before {
	content: "\f0c9";
}

input[type="checkbox"]:checked+label:before {
	content: "\f00d";
}

input[type="checkbox"]:not(:checked)~ul {
	display: none;
}

#burger_checkbox {
	display: none;
}

.menu {
	display: flex;
	flex-direction: column;
	padding: 10px;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 90px;
	right: 20px;
	z-index: 150;
}

.menu li {
	list-style-type: none;
}

.menu li a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	box-shadow: 0px 1px 1px black;
	background-color: #215EB5;
	color: #FFFFFF;
	font-family: 'Dosis';
	font-weight: bold;
	text-decoration: none;
	border-radius: 10px;
	cursor: pointer;
	width: 150px;
	height: 40px;
	font-size: 20px;
}

.menu li a:hover {
	background-color: white;
	color: black;
}

/* Blog */

#blogecran {
	display: none;
}

.blogbutton
{
	border-radius: 50px;
	top : 150px;
	width: 70px;
	height: 70px;
	color: #FFFFFF;
	background-color: #215EB5;
	z-index: 125;
}

#formecran {
	display: none;

}

#formtelephone {
	position: relative;
	z-index: 75;
}

#polaris{
	display: none;
}

#fenetre {
	background-image: url("Images_sites/tokyoresponsive.jpg");
	background-attachment: fixed;
	position: relative;
	background-position: center;
	z-index: 75;
	background-size: 250%;
}