/* Menu */

#start {
	height: 4vw;
}

input[type="checkbox"]+label:before {
	font-family: FontAwesome;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	padding: 20px;
	border-radius: 100px;
	width: 70px;
	height: 70px;
	position: fixed;
	top: 4.5vw;
	right: 20px;
	color: white;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	background-color: #215EB5;
	z-index: 150;
}

input[type="checkbox"]:not(:checked)+label:before {
	content: "\f0c9";
}

input[type="checkbox"]:checked+label:before {
	content: "\f00d";
}

input[type="checkbox"]:not(:checked)~ul {
	display: none;
}

#burger_checkbox {
	display: none;
}

.menu {
	display: flex;
	flex-direction: column;
	padding: 10px;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 90px;
	right: 20px;
	z-index: 150;
}

.menu li {
	list-style-type: none;
}

.menu li a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	background-color: #215EB5;
	color: #FFFFFF;
	font-family: Dosis;
	font-weight: bold;
	text-decoration: none;
	border-radius: 10px;
	cursor: pointer;
	width: 150px;
	height: 40px;
	font-size: 20px;
}

.menu li a:hover {
	background-color: white;
	color: black;
}

/* Reference */

#tokyoecran {
	display: none;
}

#containertokyotelephone
{	
  	height: 400vw;
  	position: relative;
	top: -100vw;
}

#tokyotelephone {
	position: -webkit-sticky;
	position: sticky;
  	z-index: 50;
  	width :100%;
  	top: 0vw;
}

#blogecran {
	display: none;
}

#blogbutton
{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	padding: 20px;
	border-radius: 100px;
	width: 70px;
	height: 70px;
	color: white;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	background-color: #215EB5;
	z-index: 150;
}