

.tinymce-wrap, .mdl-textfield {
    width: 100%;
}

.bmd-label-floating {
    left: 0;
}


table.table tbody tr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
table.table tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
table.table tbody tr td {
    border: none;
}

table.table tbody tr td.td-actions {
    justify-content: flex-start;
}